{% extends 'userTemplate.html.twig' %}
{% block body %}


    <section class="vh-100" style="background-color: #C0C0C0;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form action="{{ path('app_login') }}" method= "post">
                                        {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                                        {% if error %}
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}
                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <i ><img src="{{ asset ('ressources/logo.png') }}" alt="logo"/></i>

                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Connectez-vous à votre compte</h5>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example17">Login</label>
                                            {{ form_widget(form.email,{'attr':{'class':'form-control '}}) }}
                                            {{ form_errors(form.email,{'attr':{'class':'form-control'}}) }}

                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example27">Password</label>
                                            {{ form_widget(form.password,{'attr':{'class':'form-control '}}) }}
                                            {{ form_errors(form.password,{'attr':{'class':'form-control'}}) }}
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                        </div>

                                        <a class="small text-muted" href="#!">Forgot password?</a>
                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!"
                                                                                                                  style="color: #393f81;">Register here</a></p>



                                        <!-- Register buttons -->
                                        <div class="text-center">
                                            <p>or sign up with:</p>
                                            <button type="button" class="btn btn-link btn-floating mx-1">
                                                <i class="fab fa-facebook-f"></i>
                                            </button>

                                            <button type="button" class="btn btn-link btn-floating mx-1">
                                                <i class="fab fa-google"></i>
                                            </button>
                                        </div>

                                        {{ form_end(form) }}

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}