{% extends 'adminTemplate.html.twig' %}

{% block title %}New Livraison{% endblock %}

{% block body %}

    <nav class="navbar navbar-dark bg-dark mb-3 rounded">
        <span class="navbar-brand mb-0 h1">Ajouter livraison</span>
    </nav>
    {{form_start(formClass,{'attr':{'novalidate':'novalidate'}})}}
    <div class="form-group">
        {{ form_label(formClass.nom) }}
        {{ form_widget(formClass.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formClass.etat) }}
        {{ form_widget(formClass.etat, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formClass.user) }}
        {{ form_widget(formClass.user, {'attr': {'class': 'form-control'}}) }}

    </div>
    <div class="form-group">
        {{ form_label(formClass.commande,'Commande') }}
        {{ form_widget(formClass.commande, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(formClass.livreur, '') }}
        {{ form_widget(formClass.livreur, {'attr': {'class': 'form-control'}}) }}
    </div>

    {{ form_row(formClass.valider, {'attr': {'class': 'btn btn-primary'}}) }}

    {{form_end(formClass)}}
{% endblock %}
