{% extends 'adminTemplate.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}
    <h1>Livraison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livraison.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ livraison.nom }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ livraison.user }}</td>
            </tr>            <tr>
                <th>Livreur</th>
                <td>{{ livraison.livreur }}</td>
            </tr>
            <tr>
                <th>Commande</th>
                <td>{{ livraison.commande }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ livraison.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livraison_index') }}">back to list</a>

    <a href="{{ path('app_livraison_edit', {'id': livraison.id}) }}">edit</a>

    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
