<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ForU{% endblock %}</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- custom css file link  -->
    <link rel="stylesheet" href="{{ asset ('css/styles.css')}}">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    
<!-- header section starts      -->

<header>

    <a href="{# {{path ('app_home')}} #}" class="logo"><i class="fas fa-utensils"></i> ForU</a>

    <nav class="navbar">
        <a href="{# {{path ('app_home')}} #}">Accueil</a>
        <a href="{#  {{path ('app_menus')}} #}">Menu</a>
        <a href="{{path ('app_evenement')}}">Événement</a>
        <a href="{#  {{path ('app_reclamation')}} #}">Réclamation</a>
        <a href="{# {{path ('app_about')}} #}">À propos</a>
    </nav>

    <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-user"></a>
    </div>

</header>

<!-- header section ends-->
<div class="mt-body">
{% block body %}{% endblock %}
</div>

<!-- footer section starts  -->
{% block footer %}
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Locations</h3>
            <a href="#">Tunisia</a>
        </div>

        <div class="box">
            <h3>Liens rapides</h3>
            <a href="#">Accueil</a>
            <a href="#">Menu</a>
            <a href="#">Événement</a>
            <a href="#">Réclamation</a>
            <a href="#">À propos</a>
        </div>

        <div class="box">
            <h3>Contact info</h3>
            <a href="#">+123-456-7890</a>
            <a href="#">+111-222-3333</a>
            <a href="#">ForU@gmail.com</a>
            <a href="#">El ghazella, Ariana, Tunisia</a>
        </div>

        <div class="box">
            <h3>Suivez-nous</h3>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">linkedin</a>
        </div>

    </div>

    <div class="credit"> copyright @ 2022 by <span>Inventors</span> </div>

</section>
{% endblock %}

<!-- footer section ends -->

<!-- loader part  -->
<div class="loader-container">
    <img src="{{ asset ('images/loader.gif')}}" alt="">
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% block javascripts %}
<script>
var swiper = new Swiper(".home-slider", {
  spaceBetween: 30,
  centeredSlides: true,
  autoplay: {
    delay: 5500,
    disableOnInteraction: false,
  },
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  loop: true,
});

var swiper = new Swiper(".review-slider", {
  spaceBetween: 20,
  centeredSlides: true,
  autoplay: {
    delay: 5500,
    disableOnInteraction: false,
  },
  loop: true,
  breakpoints: {
    0: {
      slidesPerView: 1,
    },
    640: {
      slidesPerView: 2,
    },
    768: {
      slidesPerView: 2,
    },
    1024: {
      slidesPerView: 3,
    },
  },
});

function loader() {
  document.querySelector(".loader-container").classList.add("fade-out");
}

function fadeOut() {
  setInterval(loader, 2000);
}

window.onload = fadeOut;
</script>
{% endblock %}
</body>
</html>