{% extends 'adminTemplate.html.twig' %}

{% block title %}ReclamationAdmin index{% endblock %}

{% block body %}

    <h1>Reclamations</h1>

       {# {{ form_start(form) }}
        <div class="form-row align-items-end">
            <div class="col">
                {{ form_row(form.titre) }}
            </div>
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Rechercher</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}#}




    <table class="table" id="tableac>
     <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}"></script>
        <input type="text" class="form-control" placeholder="chercher" id="search">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Reponse</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation_admin in reclamation_admins %}
            <tr>
                {% for reclamation_user in reclamation_users %}
                    {% if reclamation_admin.idr == reclamation_user.idrep %}
                        <td>{{ reclamation_user.titre }}</td>
                    {% endif %}
                {% endfor %}
                {% if reclamation_admin.reponse == "" %}


                        <td>no reponse yet</td>

                    {% else %}
                        <td>{{ reclamation_admin.reponse|purify }}</td>
                    {% endif %}

                <td>

                    <a class="btn btn-outline-primary btn-fw" href="{{ path('app_reclamation_admin_show', {'id': reclamation_admin.id}) }}">Inspecter</a>
                    <a class="btn btn-outline-primary btn-fw" href="{{ path('app_reclamation_admin_edit', {'id': reclamation_admin.id}) }}">Repondre</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">Vous n'avez pas de réclamations</td>
            </tr>
        {% endfor %}

        <script>
            $(document).ready(function(){
                $("#search").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#tableac tbody tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>

        </tr>
        </tbody>
        <tbody id="search">

        </tbody>


    </table>



{% endblock %}
