{% extends 'userTemplate.html.twig' %}

{% block title %}Menu{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset ('css/menu.css')}}">
{% endblock %}

{% block body %}
<section class="menu" id="menu">

    <h3 class="sub-heading"> Notre Carte </h3>
    <h1 class="heading"> la spécialité du jour </h1>
    <div class="pos-switch">
        <h3 class="title-switch">Vegan</h3>
        <label class="switch">
            <input type="checkbox" onClick="switchContent()" checked>
            <span class="slider round"></span>
        </label>
    </div>

<div class="pos-price">
    <div onClick="tri('ASC')">
        <button class="icons btn-price"><i class="fas fa-chevron-circle-up fa-2x"></i></button>
    </div>
    <div>
        <h3 class="price">Prix</h3>
    </div>
    <div onClick="tri('DESC')">
        <button class="icons btn-price"><i class="fas fa-chevron-circle-down fa-2x"></i></button>
    </div>
</div>

<div id="main_content">
    <div class="box-container">
            {% for menusVegan in menusVegan %}
                <div class="box">
                    <div class="image">
                        <img src="{{ asset('uploads/' ~ menusVegan.image) }}" alt="Image">
                        {% if is_granted('ROLE_USER') %}
                        <button data-url="{{ path('ajout_favoris',{'id': menusVegan.id }) }}" id="{{ menusVegan.id }}" class="fas fa-heart favoris"></button>
                        {% endif %}
                    </div>
                    <div class="content">
                        <h3>{{menusVegan.titre}}</h3>
                        <p>{{menusVegan.description}}</p>
                        <h3>ingrédients</h3>
                        {% for ingredient in menusVegan.ingredients %}
                            <ul>
                                <li>
                                {{ingredient.nom}}
                                </li>
                            </ul>
                        {% endfor %}
                        <div>
                            <h3>Prix</h3>
                            <span class="price">{{menusVegan.prix}} TND</span>
                        </div>
                        {% if is_granted('ROLE_USER') %}
                        <div>
                            <a href="{{ path('ajout_panier',{'id': menusVegan.id }) }}" class="btn"><i class="fas fa-cart-plus"> Ajouter au panier</i></a>
                        </div>
                        <div>
                            <a href="{{ path('app_review',{'id': menusVegan.id }) }}" class="btn"><i class="fas fa-quote-right"> Avis</i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
<div id="secondary_content">
    <div class="box-container">
        {% for menusNormal in menusNormal %}
            <div class="box">
                <div class="image">
                        <img src="{{ asset('uploads/' ~ menusNormal.image) }}" alt="Image">
                        {% if is_granted('ROLE_USER') %}
                        <button data-url="{{ path('ajout_favoris',{'id': menusNormal.id }) }}" id="{{ menusNormal.id }}" class="fas fa-heart favoris"></button>
                        {% endif %}     
                </div>
                <div class="content">
                    <h3>{{menusNormal.titre}}</h3>
                    <p>{{menusNormal.description}}</p>
                    <h3>ingrédients</h3>
                    {% for ingredient in menusNormal.ingredients %}
                        <ul>
                            <li>
                                {{ingredient.nom}}
                            </li>
                        </ul>
                    {% endfor %}
                    <div>
                        <h3>Prix</h3>
                        <span class="price">{{menusNormal.prix}} TND</span>
                    </div>
                    {% if is_granted('ROLE_USER') %}
                    <div>
                        <a href="{{ path('ajout_panier',{'id': menusNormal.id }) }}" class="btn"><i class="fas fa-cart-plus"> Ajouter au panier</i></a>
                    </div>
                    <div>
                        <a href="{{ path('app_review',{'id': menusNormal.id }) }}" class="btn"><i class="fas fa-quote-right"> Avis</i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</section>
{% endblock %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function switchContent(){
    let mainContent = document.querySelector("#main_content");
    let secondaryContent = document.querySelector("#secondary_content");

    document.querySelector(".switch input").addEventListener("change", (e) => {
    mainContent.style.display = e.target.checked ? "block" : "none";
    secondaryContent.style.display = e.target.checked ? "none" : "block";
    });
    }
        $(function(){
        $('.favoris').on('click', function(e){
            var id = $(this).attr('id');
        
                $.ajax({
                    url: $(this).data('url'),
                    type: "POST",
                    success:function(){
                        console.log(id);
                        $('#'+id).css({'background': 'var(--red)', 'color': 'var(--white)'});
                        var notyf = new Notyf({
                        duration: 2000,
                        dismissible: true,
                        position: {
                        x: 'right', y: 'top'
                        },
                        });
                        notyf.success({
                        message: '<h3>Menu ajouté a votre liste de favoris!</h3>',
                        });
                    }
                });
            }
            //console.log(data);
        );
        })
        function tri(tri){
            //console.log(tri);
            $.ajax({
                    url: "/menu?price="+tri,
                    type: "GET",
                    success:function(response){
                    var parser=new DOMParser();
                    var xmlDoc=parser.parseFromString(response,"text/html");
                    var tds = xmlDoc.getElementById("menu");
                    console.log(tds);
                    $("#menu").replaceWith(tds);
                    }
                }).done(function(){
                    switchContent();
                    $(function(){
                        $('.favoris').on('click', function(e){
                            var id = $(this).attr('id');
                                $.ajax({
                                    url: $(this).data('url'),
                                    type: "POST",
                                    success:function(){
                                    console.log(id);
                                    $('#'+id).css({'background': 'var(--red)', 'color': 'var(--white)'});
                                    var notyf = new Notyf({
                                        duration: 2000,
                                        dismissible: true,
                                        position: {
                                            x: 'right', y: 'top'
                                        },
                                    });
                                    notyf.success({
                                        message: '<h3>Menu ajouté a votre liste de favoris!</h3>',
                                    });
                                    }
                                });
                            }
                            //console.log(data);
                        );
                    })
                });
        }
</script>
{% endblock %}