{% extends 'adminTemplate.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block stylesheets %}
    <style>
        select{
            display: block;
            width: 100%;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark mb-3 rounded">
        <span class="navbar-brand mb-0 h1">Liste des utilisateurs</span>
    </nav>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Date</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Adresse</th>
            <th scope="col">Role</th>
            <th scope="col">Etat</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.nom }}</td>
                <td>{{ u.prenom }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.password }}</td>
                <td>{{ u.date |date('d-m-Y') }}</td>
                <td>{{ u.numTel }}</td>
                <td>{{ u.adresse }}</td>
                <td>{{ u.role }}</td>
                <td>{{ u.etat }}</td>
                <td>
                    <a href="{{ path('app_user_edit',{'id': u.id }) }}" class="btn btn-warning"><i class="fas fa-pen"> Modifier</i></a>
                    <a href="{{ path('app_user_delete',{'id': u.id }) }}" class="btn btn-danger"><i class="fas fa-trash"> Supprimer</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_user_new') }}"class="btn btn-info">Ajouter</a>
{% endblock %}